* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    max-width: 100vw;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(/back-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}